<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>💪home</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="fonts/icomoon/style.css">

<link rel="stylesheet" href="css/owl.carousel.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="css/style.css">

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
</style>




<body>


<header>
    <ul >
        <li><a href="">Home</a></li>
        <li><a href="/GiveCategories">list categorie</a></li>
        <li><a href="/GiveArticles"> list article</a></li>
        <li><a href="/GetArticleSousSeuil"> Article sous le seuil</a></li>
    </ul>
</header>

<div id="liste">
    <div id="tete">
        <div>
            <h1>Article en stock</h1>
        </div>
        <a href="/addCategorie" style="background: #0B2556; color: white; padding: 10px 12px; border-radius: 5px;">
            Ajouter une nouvelle categorie
        </a>
    </div>
    <div id="corps">
        <div class="content" style="margin: 10px;">

            <div class="container">



                <div class="table-responsive custom-table-responsive">

                    <table class="table custom-table">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">libelle</th>
                            <th scope="col"> supprimer</th>
                            <th scope="col"> Modifier</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr scope="row" th:each="categorie: ${categories}">
                            <td th:text="${categorie.id}"> </td>
                            <td th:text="${categorie.libelle}" ></td>
                            <td >
                                <a th:href="@{'/deleteCategorie?id='+${categorie.id}}" style="background: #0B2556; color: white; padding: 10px 12px; border-radius: 5px;">
                                    supprimer
                                </a>
                            </td>
                            <td >
                                <a th:href="@{'/ModifierCategorie?id='+${categorie.id}}" style="background: #0B2556; color: white; padding: 10px 12px; border-radius: 5px;">
                                    Modifier
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>

        </div>



        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </div>
</div>
</body>